p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}/*hay que centrar los p*/
.container{

    margin-top: 80px
}

.textContainer {
    display: flex;
    flex-direction: row;
}