.card-header px-3 py-2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4 mb-1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-muted text-small{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}