.cono {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 10px;
 }

.cono img {
  display: block;
  margin-bottom: 10px; 
}

.cono .h5 {
  text-align: center; 
  margin-top: 5px; 
  width: 25%; 
}
.imgh5{
  display: block;
  flex-direction:row;
  align-items: flex-end;
  padding: 15px;
}
.text-under-image {
  margin-top: 10px;   
}
img, svg {
  vertical-align: middle;
}
.col-md-3{
  flex: 0 0 auto;
  width: 25%;
}